.container {
  // container will be 100% of viewport if it's under 120rem
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: 0 2rem 6rem rgba(0,0,0,.3);

  min-height: 50rem;
}

.header {

}

.content {

}

.sidebar {

}

.hotel-view {

}