.container {
  // container will be 100% of viewport if it's under 120rem
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  // aligns header elements along main axis 
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // flex grow, flex shrink, flex basis
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;

  // following two properties are for testing
  background-color: orangered;
  height: 80rem;

  //since the nav ("sidebar") element's flex basis is set to 18%, the below setting makes this element, a sibling of nav, expand to fit the rest of the container
  flex: 1;
}